ATTRS{idProduct}=="511b", ATTRS{idVendor}=="0416", MODE="0666", GROUP="plugdev"
ATTRS{idProduct}=="511c", ATTRS{idVendor}=="0416", MODE="0666", GROUP="plugdev"
ATTRS{idProduct}=="511d", ATTRS{idVendor}=="0416", MODE="0666", GROUP="plugdev"
ATTRS{idProduct}=="5200", ATTRS{idVendor}=="0416", MODE="0666", GROUP="plugdev"
ATTRS{idProduct}=="5201", ATTRS{idVendor}=="0416", MODE="0666", GROUP="plugdev"
